body {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover; /* ou contain */
	font-family: arial;
	color: #fff;

}

form {
	width: 65%;
	margin: 0 auto;
}

fieldset {
	margin-top: 20px;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
}

legend {
	background-color: #000;
	padding: 5px;
	border-radius: 10px;
}